name: Benchmarks
on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  benchmarks:
    name: Benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install -e .
      - name: Benchmark
        run: python tests/benchmarks.py
      - name: Upload benchmarks
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "test: Update benchmarks"
          branch: master
